{% extends 'proof/base.html' %} {% block content %}
<div class="w-full p-4 mb-2 bg-blue-300 rounded-xl">
  <h2>Detalle Usuario Registrado</h2>
</div>
<div class="w-full">
  <div class="w-full p-2 mb-2 bg-blue-50 rounded-xl">
    <p>Nombre: {{ register.first_name }}</p>
    <p>Apellido: {{ register.last_name }}</p>
    <p>Fecha de Nacimiento: {{ register.date_of_birth }}</p>
    <p>Email: {{ register.email }}</p>
    <p>Tipo de Vivienda: {{ register.type_of_housing }}</p>
    <p>Pais: {{ register.country }}</p>
    <p>Departamento: {{ register.department }}</p>
    <p>Ciudad: {{ register.city }}</p>
    <p>Comentarios: {{ register.comments }}</p>
    <p>Fecha de Creación: {{ register.created_date }}</p>
  </div>
</div>
<div class="w-full p-4 mb-2 bg-blue-300/40 rounded-xl">
  <a
    class="px-4 py-2 rounded-xl bg-green-50 hover:bg-green-100 hover:shadow-md"
    href={% url 'proof:registers_list' %}
    ><span>🏡</span> Inicio</a
  >
  <a
    class="px-4 py-2 rounded-xl bg-blue-400 hover:bg-blue-500 hover:shadow-md"
    href="{% url 'proof:register_edit' pk=register.pk %}"
    ><span class="">📝</span> Editar Registro</a
  >
  <a
    class="px-4 py-2 rounded-xl bg-red-300 hover:bg-red-400 hover:shadow-md"
    href="{% url 'proof:register_delete' pk=register.pk %}"
    ><span class="">X</span> Eliminar Registro</a
  >
</div>
{% endblock %}
